
@media screen and (max-width: 925px) {
    .navlinkwrap {
      display: none;
    }
    .buttonwrap {
      display: none;
    }
    .hamburger {
      display: flex !important;
      align-items: center;
    }
    .started-slimtext {
      text-align: center;
    }
  }
  @media screen and (min-width: 925px) {
    .navlinkwrap {
      display: block;
    }
    .buttonwrap {
      display: block;
    }
    .hamburger {
      display: flex !important;
      align-items: center;
    }
    .started-slimtext {
      text-align: center;
    }
  }



